@import 'abstracts/colors';
@import 'abstracts/extend';

@import 'components/buttons';
@import 'components/imgs';
@import 'components/text';

@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/stories';


@import 'login/footer';
@import 'login/body';

* {
    margin: 0;
    border-spacing: inherit;
    font-size: 14px;
    font-family: $font-family;
}
.layout {
    height: 100vh;
    &__navbar {
        width: 100%;
        height: 54px;
        border-bottom: 1px solid $color-grey;
    }
    &__stories {
        background: $background-stories;
        border-bottom: 1px solid $color-grey;
        height: 84px;
    }
    &__content{
        padding-bottom: 70px;
    }
    &__footer {
        width: 100%;
        height: 54px;
        border-top: 1px solid $color-grey;
    }
}

.login {
    height: 100vh;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}