@import 'abstracts/colors';
@import 'abstracts/extend';
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/stories';

* {
    margin: 0;
    border-spacing: inherit;
    font-family: $font-family;
}
.layout {
    height: 100vh;
    &__navbar {
        width: 100%;
        height: 54px;
        border-bottom: 1px solid $color-grey;
    }
    &__stories {
        background: $background-stories;
        border-bottom: 1px solid $color-grey;
        height: 84px;
    }
    &__footer {
        width: 100%;
        height: 54px;
        border-top: 1px solid $color-grey;
    }
}