$color-white: #fff;
$color-grey: #dbdbdb;
$color-second-grey: #8e8e8e;
$color-hastag: #00376b;
$color-blue: #0095f6;
$background-stories: #fafafa;
$color-text: #262626;

$font-family: 'Open Sans', sans-serif;