%flex-box-row {
    display: flex;
    flex-flow: row nowrap;
}
%flex-box-column {
    display: flex;
    flex-flow: column nowrap;
}

%border-radius {
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    img {
        @extend %imgs;
    }
  }