.login__user-continue a {
  background-color: #0095f6;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 9px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  max-width: 100%;
  min-width: 120px;
}

.content__body-photo img, .login__user-photo img, .stories__profile-photo img, .content__header-photo img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.content__header-user-name {
  font-size: 14px;
  font-weight: 600;
}

.stories, .navbar, .footer, .footer__links, .content__header, .content__icons {
  display: flex;
  flex-flow: row nowrap;
}

.stories__profile, .content__header-user {
  display: flex;
  flex-flow: column nowrap;
}

.login__user-photo, .stories__profile-photo, .stories__profile-photo img, .content__header-photo {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}
.content__header {
  height: 60px;
  padding: 0 10px;
  align-items: center;
}
.content__header-photo {
  height: 40px;
  width: 40px;
}
.content__header-user {
  padding-left: 15px;
  width: 90%;
}
.content__header-user-name {
  width: 100%;
}
.content__header-user-location {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
}
.content__header-menu {
  width: 20px;
  justify-self: right;
}
.content__body {
  width: 100%;
  overflow: scroll;
}
.content__body-photo {
  height: auto;
}
.content__icons {
  padding: 5px 10px;
  justify-content: space-between;
}
.content__icons-interact svg {
  padding-right: 5px;
}
.content__comments {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #dbdbdb;
}
.content__comments-publication {
  padding: 5px 0;
}
.content__comments-publication .hastag {
  color: #00376b;
}
.content__comments-comment {
  padding: 5px 0;
}
.content__comments-comment .comments {
  color: #8e8e8e;
  font-weight: 400;
}

.footer {
  position: fixed;
  height: 54px;
  bottom: 0;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.footer__links {
  height: 50px;
  align-items: center;
  text-align: center;
}
.footer__links-icons {
  flex: 3;
  padding-top: 10px;
  height: 40px;
}
.footer__links-profile {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  margin-top: 5px;
  height: auto;
  height: 30px;
}
.navbar__logo img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.navbar__links {
  align-items: center;
  padding: 0 15px;
}
.navbar__links-icons {
  padding-left: 10px;
}

.stories {
  padding: 10px 20px;
}
.stories__profile {
  width: 80px;
  justify-content: center;
}
.stories__profile-photo {
  height: 66px;
  width: 66px;
  position: relative;
  padding: 1px;
  border: 2px solid transparent;
  background: linear-gradient(to bottom, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  background-clip: border-box;
  background-origin: border-box;
}
.stories__profile-photo:hover {
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.stories__profile-name {
  color: #262626;
  display: block;
  font-size: 12px;
  line-height: 14px;
  max-width: 64px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login__location {
  padding-bottom: 50px;
}
.login__location select {
  cursor: pointer;
  border: 0;
  color: #8e8e8e;
}
.login__logo {
  padding: 40px 0;
}
.login__user {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.login__user-photo {
  height: 120px;
  width: 120px;
}
.login__user-continue {
  padding: 40px 0;
}
.login__user-continue a {
  text-decoration: none;
  font-weight: 600;
}
.login__user-change a {
  text-decoration: none;
  font-weight: 600;
  color: #0095f6;
}

.login__footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 300;
}
.login__footer span {
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}

* {
  margin: 0;
  border-spacing: inherit;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.layout {
  height: 100vh;
}
.layout__navbar {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
}
.layout__stories {
  background: #fafafa;
  border-bottom: 1px solid #dbdbdb;
  height: 84px;
}
.layout__content {
  padding-bottom: 70px;
}
.layout__footer {
  width: 100%;
  height: 54px;
  border-top: 1px solid #dbdbdb;
}

.login {
  height: 100vh;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
