.stories {
    padding: 10px 20px;
    @extend %flex-box-row;
    &__profile {
        width: 80px;
        @extend %flex-box-column;
        justify-content: center;
        &-photo {
            height: 66px;
            width: 66px;
            @extend %border-radius;
        }
        &-name {
            color: $color-text;
            display: block;
            font-size: 12px;
            line-height: 14px;
            max-width: 64px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-top: 5px;
        }
    }
}