@use '../abstracts' as *;
@use '../components/' as *;

.stories {
    padding: 10px 20px;
    margin-top: 54px;
    @extend %flex-box-row;
    &__profile {
        width: 80px;
        @extend %flex-box-column;
        justify-content: center;
        &-photo {
            height: 66px;
            width: 66px;
            position: relative;
            @extend %border-radius;
            padding: 1px;
            border: 2px solid transparent;
            background: linear-gradient(to bottom, #833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
            background-clip: border-box;
            background-origin: border-box;
            img {
                @extend %border-radius;
            }
            &:hover {
                animation-name: girar;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }
        }
        &-name {
            color: $color-text;
            display: block;
            font-size: 12px;
            line-height: 14px;
            max-width: 64px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-top: 5px;
        }
    }
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}